body {
    min-width: 320px;
    min-height: 768px;
}

.nav-bar {
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}